In [2]:
import pandas as pd

# Load Data

In [4]:
data= pd.read_csv(r"C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\CarPrice_data.csv")
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [5]:
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [13]:
# to show all columns and row in data
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [12]:
# check the dtype amd values
data['doornumber']

0       two
1       two
2       two
3      four
4      four
       ...
200    four
201    four
202    four
203    four
204    four
Name: doornumber, Length: 205, dtype: object

In [14]:
# converting categorical value into numerical value
data['doornumber'].replace(['two','four'], [2,4],inplace= True)

In [16]:
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,2,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,2,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,2,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,4,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,4,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [20]:
data['fueltype']

0         gas
1         gas
2         gas
3         gas
4         gas
5         gas
6         gas
7         gas
8         gas
9         gas
10        gas
11        gas
12        gas
13        gas
14        gas
15        gas
16        gas
17        gas
18        gas
19        gas
20        gas
21        gas
22        gas
23        gas
24        gas
25        gas
26        gas
27        gas
28        gas
29        gas
30        gas
31        gas
32        gas
33        gas
34        gas
35        gas
36        gas
37        gas
38        gas
39        gas
40        gas
41        gas
42        gas
43        gas
44        gas
45        gas
46        gas
47        gas
48        gas
49        gas
50        gas
51        gas
52        gas
53        gas
54        gas
55        gas
56        gas
57        gas
58        gas
59        gas
60        gas
61        gas
62        gas
63     diesel
64        gas
65        gas
66     diesel
67     diesel
68     diesel
69     diesel
70     diesel
71        gas
72        gas
73        gas
74        gas
75        gas
76        gas
77        gas
78        gas
79        gas
80        gas
81        gas
82        gas
83        gas
84        gas
85        gas
86        gas
87        gas
88        gas
89        gas
90     diesel
91        gas
92        gas
93        gas
94        gas
95        gas
96        gas
97        gas
98        gas
99        gas
100       gas
101       gas
102       gas
103       gas
104       gas
105       gas
106       gas
107       gas
108    diesel
109       gas
110    diesel
111       gas
112    diesel
113       gas
114    diesel
115       gas
116    diesel
117       gas
118       gas
119       gas
120       gas
121       gas
122       gas
123       gas
124       gas
125       gas
126       gas
127       gas
128       gas
129       gas
130       gas
131       gas
132       gas
133       gas
134       gas
135       gas
136       gas
137       gas
138       gas
139       gas
140       gas
141       gas
142       gas
143       gas
144       gas
145       gas
146       gas
147       gas
148       gas
149       gas
150       gas
151       gas
152       gas
153       gas
154       gas
155       gas
156       gas
157       gas
158    diesel
159    diesel
160       gas
161       gas
162       gas
163       gas
164       gas
165       gas
166       gas
167       gas
168       gas
169       gas
170       gas
171       gas
172       gas
173       gas
174    diesel
175       gas
176       gas
177       gas
178       gas
179       gas
180       gas
181       gas
182    diesel
183       gas
184    diesel
185       gas
186       gas
187    diesel
188       gas
189       gas
190       gas
191       gas
192    diesel
193       gas
194       gas
195       gas
196       gas
197       gas
198       gas
199       gas
200       gas
201       gas
202       gas
203    diesel
204       gas
Name: fueltype, dtype: object

In [21]:
# converting categorical value into numerical value
data['fueltype'].replace(['gas','diesel'], [0,1],inplace= True)

In [22]:
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,0,std,2,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,0,std,2,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,0,std,2,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,0,std,4,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,0,std,4,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [25]:
# checking dtypes in our datset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    int64
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    int64
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(10), object(8)
memory usage: 41.8+ KB

In [27]:
#import label encoder
from sklearn import preprocessing
# converting categorical values in numerical by using encoder
#make an instance of Label Encoder
label_encoder = preprocessing.LabelEncoder()
data['carbody'] = label_encoder.fit_transform(data['carbody'])
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,0,std,2,0,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,0,std,2,0,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,0,std,2,2,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,0,std,4,3,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,0,std,4,3,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [34]:
# converting many columns at a time
data['aspiration'] = label_encoder.fit_transform(data['aspiration'])
data['drivewheel'] = label_encoder.fit_transform(data['drivewheel'])
data['enginetype'] = label_encoder.fit_transform(data['enginetype'])
data['fuelsystem'] = label_encoder.fit_transform(data['fuelsystem'])
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,0,0,2,0,2,0,88.6,168.8,64.1,48.8,2548,0,4,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,0,0,2,0,2,0,88.6,168.8,64.1,48.8,2548,0,4,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,0,0,2,2,2,0,94.5,171.2,65.5,52.4,2823,5,6,152,5,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,0,0,4,3,1,0,99.8,176.6,66.2,54.3,2337,3,4,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,0,0,4,3,0,0,99.4,176.6,66.4,54.3,2824,3,5,136,5,3.19,3.40,8.0,115,5500,18,22,17450.0

In [35]:
data['enginelocation']

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
30     0
31     0
32     0
33     0
34     0
35     0
36     0
37     0
38     0
39     0
40     0
41     0
42     0
43     0
44     0
45     0
46     0
47     0
48     0
49     0
50     0
51     0
52     0
53     0
54     0
55     0
56     0
57     0
58     0
59     0
60     0
61     0
62     0
63     0
64     0
65     0
66     0
67     0
68     0
69     0
70     0
71     0
72     0
73     0
74     0
75     0
76     0
77     0
78     0
79     0
80     0
81     0
82     0
83     0
84     0
85     0
86     0
87     0
88     0
89     0
90     0
91     0
92     0
93     0
94     0
95     0
96     0
97     0
98     0
99     0
100    0
101    0
102    0
103    0
104    0
105    0
106    0
107    0
108    0
109    0
110    0
111    0
112    0
113    0
114    0
115    0
116    0
117    0
118    0
119    0
120    0
121    0
122    0
123    0
124    0
125    0
126    1
127    1
128    1
129    0
130    0
131    0
132    0
133    0
134    0
135    0
136    0
137    0
138    0
139    0
140    0
141    0
142    0
143    0
144    0
145    0
146    0
147    0
148    0
149    0
150    0
151    0
152    0
153    0
154    0
155    0
156    0
157    0
158    0
159    0
160    0
161    0
162    0
163    0
164    0
165    0
166    0
167    0
168    0
169    0
170    0
171    0
172    0
173    0
174    0
175    0
176    0
177    0
178    0
179    0
180    0
181    0
182    0
183    0
184    0
185    0
186    0
187    0
188    0
189    0
190    0
191    0
192    0
193    0
194    0
195    0
196    0
197    0
198    0
199    0
200    0
201    0
202    0
203    0
204    0
Name: enginelocation, dtype: int64

In [36]:
data['enginelocation'].replace(['front','rear'], [0,1],inplace= True)

In [37]:
data['cylindernumber']

0       4
1       4
2       6
3       4
4       5
5       5
6       5
7       5
8       5
9       5
10      4
11      4
12      6
13      6
14      6
15      6
16      6
17      6
18      3
19      4
20      4
21      4
22      4
23      4
24      4
25      4
26      4
27      4
28      4
29      4
30      4
31      4
32      4
33      4
34      4
35      4
36      4
37      4
38      4
39      4
40      4
41      4
42      4
43      4
44      4
45      4
46      4
47      6
48      6
49     12
50      4
51      4
52      4
53      4
54      4
55      2
56      2
57      2
58      2
59      4
60      4
61      4
62      4
63      4
64      4
65      4
66      4
67      5
68      5
69      5
70      5
71      8
72      8
73      8
74      8
75      4
76      4
77      4
78      4
79      4
80      4
81      4
82      4
83      4
84      4
85      4
86      4
87      4
88      4
89      4
90      4
91      4
92      4
93      4
94      4
95      4
96      4
97      4
98      4
99      4
100     4
101     6
102     6
103     6
104     6
105     6
106     6
107     4
108     4
109     4
110     4
111     4
112     4
113     4
114     4
115     4
116     4
117     4
118     4
119     4
120     4
121     4
122     4
123     4
124     4
125     4
126     6
127     6
128     6
129     8
130     4
131     4
132     4
133     4
134     4
135     4
136     4
137     4
138     4
139     4
140     4
141     4
142     4
143     4
144     4
145     4
146     4
147     4
148     4
149     4
150     4
151     4
152     4
153     4
154     4
155     4
156     4
157     4
158     4
159     4
160     4
161     4
162     4
163     4
164     4
165     4
166     4
167     4
168     4
169     4
170     4
171     4
172     4
173     4
174     4
175     4
176     4
177     4
178     6
179     6
180     6
181     6
182     4
183     4
184     4
185     4
186     4
187     4
188     4
189     4
190     4
191     5
192     4
193     4
194     4
195     4
196     4
197     4
198     4
199     4
200     4
201     4
202     6
203     6
204     4
Name: cylindernumber, dtype: int64

In [38]:
data['cylindernumber'].replace(['two','three','four','five','six','eight','twelve'], [2,3,4,5,6,8,12],inplace= True)

In [39]:
data['cylindernumber']

0       4
1       4
2       6
3       4
4       5
5       5
6       5
7       5
8       5
9       5
10      4
11      4
12      6
13      6
14      6
15      6
16      6
17      6
18      3
19      4
20      4
21      4
22      4
23      4
24      4
25      4
26      4
27      4
28      4
29      4
30      4
31      4
32      4
33      4
34      4
35      4
36      4
37      4
38      4
39      4
40      4
41      4
42      4
43      4
44      4
45      4
46      4
47      6
48      6
49     12
50      4
51      4
52      4
53      4
54      4
55      2
56      2
57      2
58      2
59      4
60      4
61      4
62      4
63      4
64      4
65      4
66      4
67      5
68      5
69      5
70      5
71      8
72      8
73      8
74      8
75      4
76      4
77      4
78      4
79      4
80      4
81      4
82      4
83      4
84      4
85      4
86      4
87      4
88      4
89      4
90      4
91      4
92      4
93      4
94      4
95      4
96      4
97      4
98      4
99      4
100     4
101     6
102     6
103     6
104     6
105     6
106     6
107     4
108     4
109     4
110     4
111     4
112     4
113     4
114     4
115     4
116     4
117     4
118     4
119     4
120     4
121     4
122     4
123     4
124     4
125     4
126     6
127     6
128     6
129     8
130     4
131     4
132     4
133     4
134     4
135     4
136     4
137     4
138     4
139     4
140     4
141     4
142     4
143     4
144     4
145     4
146     4
147     4
148     4
149     4
150     4
151     4
152     4
153     4
154     4
155     4
156     4
157     4
158     4
159     4
160     4
161     4
162     4
163     4
164     4
165     4
166     4
167     4
168     4
169     4
170     4
171     4
172     4
173     4
174     4
175     4
176     4
177     4
178     6
179     6
180     6
181     6
182     4
183     4
184     4
185     4
186     4
187     4
188     4
189     4
190     4
191     5
192     4
193     4
194     4
195     4
196     4
197     4
198     4
199     4
200     4
201     4
202     6
203     6
204     4
Name: cylindernumber, dtype: int64

In [40]:
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,0,0,2,0,2,0,88.6,168.8,64.1,48.8,2548,0,4,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,0,0,2,0,2,0,88.6,168.8,64.1,48.8,2548,0,4,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,0,0,2,2,2,0,94.5,171.2,65.5,52.4,2823,5,6,152,5,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,0,0,4,3,1,0,99.8,176.6,66.2,54.3,2337,3,4,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,0,0,4,3,0,0,99.4,176.6,66.4,54.3,2824,3,5,136,5,3.19,3.40,8.0,115,5500,18,22,17450.0

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    int64
 4   aspiration        205 non-null    int64
 5   doornumber        205 non-null    int64
 6   carbody           205 non-null    int32
 7   drivewheel        205 non-null    int64
 8   enginelocation    205 non-null    int64
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    int64
 15  cylindernumber    205 non-null    int64
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    int32
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int32(2), int64(15), object(1)
memory usage: 40.2+ KB

In [42]:
data['CarName'] = label_encoder.fit_transform(data['CarName'])
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,2,0,0,2,0,2,0,88.6,168.8,64.1,48.8,2548,0,4,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,3,0,0,2,0,2,0,88.6,168.8,64.1,48.8,2548,0,4,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,1,0,0,2,2,2,0,94.5,171.2,65.5,52.4,2823,5,6,152,5,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,4,0,0,4,3,1,0,99.8,176.6,66.2,54.3,2337,3,4,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,5,0,0,4,3,0,0,99.4,176.6,66.4,54.3,2824,3,5,136,5,3.19,3.40,8.0,115,5500,18,22,17450.0

In [51]:
# Now we have all data in numerical values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    int32
 3   fueltype          205 non-null    int64
 4   aspiration        205 non-null    int64
 5   doornumber        205 non-null    int64
 6   carbody           205 non-null    int32
 7   drivewheel        205 non-null    int64
 8   enginelocation    205 non-null    int64
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    int64
 15  cylindernumber    205 non-null    int64
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    int32
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int32(3), int64(15)
memory usage: 39.4 KB

# Split Data

In [44]:
x = data.drop('price', axis=1)
y = data['price']

print('shape of x = ', x.shape)
print('shape of y = ', y.shape)

shape of x =  (205, 25)
shape of y =  (205,)

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state=51)

print('shape of x_train = ', x_train.shape)
print('shape of x_test = ', x_test.shape)
print('shape of y_train = ', y_train.shape)
print('shape of y_test = ', y_test.shape)

shape of x_train =  (164, 25)
shape of x_test =  (41, 25)
shape of y_train =  (164,)
shape of y_test =  (41,)

In [9]:
data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [47]:
data.shape

(205, 26)

# Feature Scaling

In [48]:
from sklearn.preprocessing import StandardScaler

In [49]:
sc = StandardScaler()
sc.fit(x_train)
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)

# Linear Regression model

In [50]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr.fit(x_train,y_train)

LinearRegression()

In [52]:
lr.coef_

array([ 3266.65064632,  -222.53832861, -4526.73789623, -1734.82072591,
          26.11023275,    61.10343264,   -11.95075272,   403.86890505,
        1216.71556244,   481.24001701,  -670.09785638,  1421.07102971,
         578.91532625,   793.76832198,   -45.180295  , -2119.9733006 ,
        5763.41589514,  -149.03064173,  -798.21986823, -1066.95174872,
        2257.88882216,  1944.35252409,   626.09512701, -1429.61484246,
        1477.12431076])

In [53]:
lr.fit_intercept

True

In [54]:
lr.intercept_

13233.2449207317

In [55]:
lr.fit

In [56]:
lr.predict

In [57]:
lr.rank_

25

In [58]:
# predicting value of car and test
x_test[0:1]

array([[-0.52219756,  1.77810408, -1.37203158, -0.32879797, -0.47316022,
        -1.13038833, -3.08946765,  1.24291093, -0.11111111, -0.34686215,
         0.49865468,  2.13723055, -1.18788472,  2.14390509,  1.85512738,
         3.29763631,  2.48428369,  0.91313217,  0.46450193, -0.43208649,
        -0.47233584,  1.26161494, -0.7606541 , -1.41827719, -1.8623542 ]])

In [60]:
# value of first car that predicted by our model
lr.predict([x_test[0, :]])

array([29169.7499326])

In [61]:
# x_test values
lr.predict(x_test)

array([29169.7499326 , 20820.70771355, 14913.25442272, 20158.04611587,
       14852.09895775, 14779.10745849, 16508.99562141, 12481.39802026,
       34568.2721987 ,  6163.31034356, 14761.73165756,  9669.33301288,
        8205.86251344,  5503.17755219, 11292.98513858, 15396.56416435,
       10358.62921119,  8911.71901915, 16486.45755224,  7397.83261276,
       17207.31205114, 11126.19481459, 28607.20693851, 17679.92281928,
       16325.36433682,  6594.22053105,  9927.02505969,  7746.7607039 ,
        9289.90554631,  9171.71524741, 18667.08100898,  7272.4536387 ,
       10771.81378271,  5632.8594937 , 18047.45938259, 11816.02800871,
       10209.23173856, 16540.51766348,  7122.1347639 , 19340.56904385,
       19869.91573368])

In [62]:
# y_test values
y_test

72     35056.0
101    13499.0
107    11900.0
7      18920.0
124    12764.0
10     16430.0
194    12940.0
63     10795.0
127    34028.0
21      5572.0
89      5499.0
36      7295.0
23      7957.0
50      5195.0
42     10345.0
4      17450.0
86      8189.0
35      7295.0
203    22470.0
45      8916.5
65     18280.0
59      8845.0
67     25552.0
181    15750.0
196    15985.0
189    11595.0
175     9988.0
79      7689.0
131     9895.0
145    11259.0
14     24565.0
31      6855.0
176    10898.0
121     6692.0
200    16845.0
123     8921.0
166     9538.0
199    18950.0
90      7099.0
178    16558.0
104    17199.0
Name: price, dtype: float64

In [64]:
# testing accuricy of our model
lr.score(x_test, y_test)

0.8118891709913

0.8118.. is the good accuracy of the model so our model is right